Repository kpab/pepino, changes with the labels that .github/labeler.yml gives for each.
All labels: frontend, backend, database, documentation, testing, infrastructure, priority-high, priority-medium, priority-low

.github/labeler.yml:

# GitHub Labels Configuration

# 機能別ラベル
frontend:
  - src/app/**/*
  - src/components/**/*
  - "*.tsx"
  - "*.css"

backend:
  - src/app/api/**/*
  - "*.api.ts"
  - supabase/**/*

database:
  - supabase/**/*
  - "**/*database*"
  - "**/*schema*"
  - "**/*migration*"

documentation:
  - docs/**/*
  - "*.md"
  - README*

testing:
  - tests/**/*
  - "**/*.test.*"
  - "**/*.spec.*"

infrastructure:
  - .github/**/*
  - docker*
  - "*.config.*"
  - "*.json"

# 優先度ラベル
priority-high:
  - any: ["critical", "urgent", "high priority"]

priority-medium:
  - any: ["medium priority", "important"]

priority-low:
  - any: ["low priority", "nice to have"]

# サイズラベル
size-xs:
  - files: ["<=2"]

size-s:
  - files: ["3-5"]

size-m:
  - files: ["6-10"]

size-l:
  - files: ["11-20"]

size-xl:
  - files: [">20"]

ガントチャートのタスク管理機能を追加
  .github/scripts/gantt-tasks.json
  .github/scripts/update-gantt.js
Labels: infrastructure

ガントチャート自動更新システムを実装
  .github/workflows/manual-gantt-update.yml
  .github/workflows/weekly-progress-report.yml
Labels: infrastructure

ガントチャートを現実的なスケジュールに修正
  .github/scripts/gantt-tasks.json
  docs/docs/project-management/04-gantt-chart.md
Labels: documentation, infrastructure

UI/UXデザインタスクをガントチャートに追加
  .github/scripts/gantt-tasks.json
  docs/docs/project-management/04-gantt-chart.md
Labels: documentation, infrastructure

Update README.md
  README.md
Labels: documentation

Update README.md
  README.md
Labels: documentation

Create .all-contributorsrc
  .all-contributorsrc
Labels: none

Update README.md
  README.md
Labels: documentation
